<div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col lg:flex-row-reverse">
      <!-- ここからform_withを使う形に修正 -->
    <%= render 'form_edit', competition_record: @competition_record, competition: @competition %>
      <!-- ここまでform_withを使う形に修正 -->
  </div>
</div>