
    <tbody class="divide-y divide-gray-100 border-t border-gray-100 text-xs">
      <tr class="hover:bg-gray-50">
        <td class="text-left px-4 py-4 text-gray-900"><%= competition.date %></td>
        <td class="text-left px-4 py-4"><%= competition.name %></td>
        <td class="px-4 py-4">
          <%= link_to "詳細", competition_path(competition), class: "btn btn-sm text-xs" %>
        </td>
      </tr>
    </tbody>