<div class="hero min-h-screen bg-white">
  <div class="hero-content flex-col">
      <!-- ここからform_withを使う形に修正 -->
    <h1 class="text-2xl font-bold">大会情報の編集</h1>
    <%= render 'form', competition: @competition %>
      <!-- ここまでform_withを使う形に修正 -->
  </div>
</div>
