<% content_for :head do %>
    <title>大会結果一覧 | PowerLifter's Log</title>
<% end %>
<div class="container mx-auto py-[72px]">
    <!-- 大会結果一覧 -->
  <h1 class="text-2xl text-center">出場済大会の一覧</h1>
  <%= render @competitions %>
</div>