<div class="min-h-screen bg-base-200">
  <div class="hero-content flex-col w-full">
      <!-- 大会結果一覧 -->
    <h1 class="text-2xl">出場済大会の一覧</h1>
    <div class="w-full mx-auto max-w-full overflow-auto">
      <table class="border-collapse table-auto bg-white text-center text-sm text-gray-500">
        <thead class="bg-gray-50">
          <tr>
            <th scope="col" class="px-4 py-4 font-medium text-gray-900"><%= Competition.human_attribute_name("date") %></th>
            <th scope="col" class="px-4 py-4 font-medium text-gray-900"><%= Competition.human_attribute_name("name") %></th>
            <th scope="col" class="px-4 py-4 font-medium text-gray-900"></th>
          </tr>
        </thead>
        <% if @competitions.present? %>
          <%= render @competitions %>
        <% else %>
          <p>存在しません</p>
        <% end %>
      </table>
    </div>
  </div>
</div>
