<% content_for :head do %>
    <title>大会結果一覧 | PowerLifter's Log</title>
<% end %>
<div class="container mx-auto">
    <!-- 大会結果一覧 -->
  <h1 class="text-2xl text-center mt-5">出場済大会の一覧</h1>
  <% if @competitions.present? %>
    <%= render @competitions %>
  <% else %>
    <p class="text-base text-center mt-5"><%= "出場済の大会情報がありません" %></p>
  <% end %>
</div>