<div class="hero min-h-screen bg-white">
  <div class="hero-content flex-col">
    <div class="items-center mx-auto max-w-80 min-w-80">
      <h1 class="text-2xl text-center mb-5">振り返りコメント 編集</h1>
			  <%= form_with model: @comment, url: competition_comment_path(@competition), method: "patch" do |f| %>
          <!-- 振り返りコメント -->
          <label class="form-control mb-6">
            <div class="label p-0 flex justify-start items-center">
              <p class="text-slate-500">(任意)</p>
            </div>
              <%= f.text_area :comment, class:"textarea textarea-bordered h-80 text-base" %>
          </label>
          <!-- ボタン -->
          <div class="form-control mt-6 flex flex-row justify-center">
            <div>
              <%= f.submit "更新", class: 'btn btn-secondary btn-sm w-24' %>
            </div>
				  </div>
        <% end %>
    </div>
  </div>
</div>