<div class="hero min-h-screen bg-white">
  <div class="hero-content flex-col">
    <div class="items-center mx-auto max-w-80 min-w-80">
      <div class="mb-5">
				<ul class="steps">
					<li class="step step-primary text-[10px]">検量体重</li>
					<li class="step step-primary text-[10px]">スクワット</li>
					<li class="step step-primary text-[10px]">ベンチプレス</li>
					<li class="step step-primary text-[10px]">デッドリフト</li>
					<li class="step step-primary text-[10px] text-orange-600 font-bold">振り返り<br>コメント</li>
				</ul>
			</div>
      <h1 class="text-2xl text-center mb-5">振り返りコメント</h1>
			  <%= form_with model: @comment, url: competition_comment_path(@competition)  do |f| %>
          <!-- 振り返りコメント -->
          <label class="form-control mb-6">
            <div class="label p-0 flex justify-start items-center">
              <p class="text-slate-500">(任意)</p>
            </div>
              <%= f.text_area :comment, class:"textarea textarea-bordered h-80" %>
          </label>
          <!-- ボタン -->
          <div class="form-control mt-6 flex flex-row justify-center">
            <div>
              <%= f.submit class: 'btn btn-secondary btn-sm w-24' %>
            </div>
				  </div>
        <% end %>
    </div>
  </div>
</div>