<div class="hero min-h-screen">
  <div class="hero-content flex-col">
    <div class="items-center mx-auto max-w-80 min-w-80">
      <%= image_tag asset_path("top2.png"), class:"max-w-full max-h-full" %>
      <article class="text-wrap text-center m-4">
        <h1 class="text-4xl font-bold">ようこそ</h1>
        <p class="py-6">パワーリフティング大会や<br/>シングルベンチプレス大会に出場後、<br/>自分の試合結果を記録して<br/>管理ができるサービスです</p>
        <h1 class="text-3xl font-bold">記録を始めましょう!</h1>
        <%= link_to t('header.login'), login_path, class:"btn btn-accent text-white" %>
        <%= link_to t('header.to_register_page'), new_user_path, class:"btn btn-outline btn-accent" %>
      </article>
    </div>
  </div>
</div>
