<div class="navbar bg-primary sticky top-0 z-50 text-primary-content">
  <div class="flex-1">
    <%= link_to "Powerlifter's log", root_path, class:"btn btn-ghost text-base font-bold" %>
  </div>
</div>