<div class="navbar bg-base-100">
  <div class="flex-1">
    <%= link_to "good lifter log", root_path, class:"btn btn-ghost text-xl" %>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><%= link_to "ログイン", login_path, class:"btn btn-neutral" %></li>
      <li><%= link_to "会員登録", new_user_path, class:"btn btn-neutral" %></li>
    </ul>
  </div>
</div>