<div class="navbar bg-primary sticky top-0 z-50">
  <div class="flex-1 text-white">
    <%= link_to "Powerlifter's log", root_path, class:"btn btn-ghost text-base font-bold" %>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1 text-white">
      <li><%= link_to t('header.login'), login_path, class:"btn btn-neutral text-white" %></li>
      <li><%= link_to t('header.to_register_page'), new_user_path, class:"btn btn-neutral text-white" %></li>
    </ul>
  </div>
</div>