<footer class="footer footer-center p-10 rounded">
  <nav class="flex flex-col">
    <a class="link link-hover"><%= link_to t('information.contact_us'), 'https://forms.gle/vhNpcExKi48JeSBZ6', target: '_blank' %></a>
    <a class="link link-hover"><%= link_to t('information.terms_of_use'), terms_path %></a>
    <a class="link link-hover"><%= link_to t('information.privacy_policy'), privacy_policy_path%></a>
  </nav>
  <aside>
    <p>© 2024 PowerLifter's Log Copyright All Rights Reserved.</p>
  </aside>
</footer>