<% content_for :head do %>
    <title>大会結果一覧 | PowerLifter's Log</title>
<% end %>
<div class="mx-auto w-full max-w-screen-sm text-center pb-16">
  <div class="mx-auto max-w-80 min-w-80 rounded-lg bg-white shadow my-4 p-2">
    <h1 class="font-bold text-primary">パワーリフティング(ノーギア)<br/>合計重量</h1>
      <%= line_chart @classic_power_total_weights,
      xtitle: "開催日" ,
      ytitle: "重量(kg)",
      decimal: ",",
      empty: "データがありません"
      %>
  </div>
  <div class="mx-auto max-w-80 min-w-80 rounded-lg bg-white shadow my-4 p-2">
    <h1 class="font-bold text-primary">パワーリフティング(フルギア)<br/>合計重量</h1>
      <%= line_chart @equipped_power_total_weights,
      xtitle: "開催日" ,
      ytitle: "重量(kg)",
      decimal: ",",
      empty: "データがありません"
      %>
  </div>
  <div class="mx-auto max-w-80 min-w-80 rounded-lg bg-white shadow my-4 p-2">
    <h1 class="font-bold text-primary">シングルベンチプレス(ノーギア)<br/>重量</h1>
      <%= line_chart @classic_single_benchpress_weights,
      xtitle: "開催日" ,
      ytitle: "重量(kg)",
      decimal: ",",
      empty: "データがありません"
      %>
  </div>
  <div class="mx-auto max-w-80 min-w-80 rounded-lg bg-white shadow my-4 p-2">
    <h1 class="font-bold text-primary">シングルベンチプレス(フルギア)<br/>重量</h1>
      <%= line_chart @equipped_single_benchpress_weights,
      xtitle: "開催日" ,
      ytitle: "重量(kg)",
      decimal: ",",
      empty: "データがありません"
      %>
  </div>
</div>